.header {
  display: flex;
  align-items: flex-start;
}
.title {
  h2 {
  }
}

.times {
  display: flex;
  gap: 16px;
}

.recipe {
  border: 1px solid #ccc;
  margin: auto;
  max-width: 768px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  h2,
  h3,
  h4 {
    margin-bottom: 1em;
  }
  .header {
    gap: 16px;
    margin-bottom: 16px;
  }
  .image {
    object-fit: cover;
  }
  ul,
  ol {
    padding-left: 24px;
    margin-bottom: 16px;
    li {
      margin-bottom: 4px;
    }
  }
  .notes {
    p {
      white-space: pre-wrap;
    }
  }
}
